<md-toolbar layout="row" class="md-whiteframe-z1">
  <md-button class="menu" ng-click="toggleMenuList()" aria-label="Menu">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>Notes : {{filter}}<span ng-show="filter == ''">ALL</span></h1>
</md-toolbar>

<md-content flex id="content">
  <div gridster>
    <ul>
      <li gridster-item="note" ng-repeat="note in allNotes | filter:{state:filter}" ng-class="note.color" class="md-whiteframe-8dp">
        <section layout="row" layout-align="center center" layout-wrap class="noteMenu">
          <span style="">{{note.title | uppercase}}</span>
          <span>

          <md-button ng-show="note.state != 'DONE'" ng-click="setState(note,$event, 'DONE')"
                     class="md-mini correctPosition"
                     aria-label="DONE">
            &#10003;
          </md-button>
          <md-button ng-show="note.state != 'TODO'" ng-click="setState(note,$event, 'TODO')"
                     class="md-mini"
                     aria-label="TODO">
            &#9785;
          </md-button>
          <md-button ng-click="editNote(note, $event)" class="md-mini correctPosition" aria-label="Edit">
            &#9998;
          </md-button>
          <md-button ng-click="detailNote(note, $event)" class="md-mini correctPosition" aria-label="More">
            &#128269;
          </md-button>
          <md-button ng-click="deleteNote(note, $event)" class="md-mini correctPosition" aria-label="More">
            -
          </md-button>
          <md-menu>
            <md-button class="md-fab md-mini" style="background-color: white;"
                       aria-label="menu" ng-click="$mdOpenMenu($event)">
            </md-button>
            <md-menu-content width="1">
              <md-menu-item>
                <md-button ng-click="setColor(note,$event, 'white')" class="md-fab md-mini"
                           style="background-color: white;"
                           aria-label="white">
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="setColor(note,$event, 'green')" class="md-fab md-mini"
                           style="background-color: #8AC248;"
                           aria-label="green">
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="setColor(note,$event, 'yellow')" class="md-fab md-mini"
                           style="background-color: #FFE900;"
                           aria-label="yellow">
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="setColor(note,$event, 'blue')" class="md-fab md-mini"
                           style="background-color: #3FC3FF;"
                           aria-label="blue">
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="setColor(note,$event, 'orange')" class="md-fab md-mini"
                           style="background-color: #FF9700;"
                           aria-label="orange">
                </md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button ng-click="setColor(note,$event, 'red')" class="md-fab md-mini"
                           style="background-color: #FF6634;"
                           aria-label="red">
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          </span>
        </section>
        <div ng-bind-html="note.description | linky | nl2br"></div>
      </li>
    </ul>
  </div>
</md-content>
<nav mfb-menu position="br" effect="zoomin" label="Créer une note"
     active-icon="ion-plus" resting-icon="ion-plus-round"
     toggling-method="hover" ng-click="addNote($event)">
</nav>
